@model SampleApp.RazorPages.Interfaces.ICodeSample

@{ int index = 0; }
<div id="accordion" class="accordion">
@foreach (var sample in Model.Samples)
{
    index++;
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#code-sample-@index">@sample.Title - @sample.GetFilename()</button>
        </div>
        <div class="card-body collapse" id="code-sample-@index" data-parent="#accordion">
            @if (sample.ImportElementId != null)
            {
                <div id="@sample.ImportElementId-target"></div>
            }            
            <pre><code class="code-sample @sample.Language" data-url="@sample.Url" data-import-element="@sample.ImportElementId"></code></pre>
            <p>View online: <a href="@sample.GetFullUrl()" class="btn btn-sm btn-outline-info">@sample.GetFilename()</a></p>
        </div>
    </div>        
}
</div>
