@page
@model SampleApp.RazorPages.Pages.GridEditorModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@{ 
    var grid = new GridEditor<Item>(this, Xsrf, (item) => item.Id, defaults: new { WorkspaceId = Model.Data?.User?.WorkspaceId ?? 0 }); 
}

<h3>Grid Editor</h3>
<p>Though not part of Dapper.CX itself, and a rather old-school implementation that betrays my dislike for JavaScript, 
    I wanted to show an approach to an inline table editor that uses Dapper.CX on the backend.
    This uses my <a href="https://github.com/adamfoneil/GridEditor.RazorPages">GridEditor.RazorPages</a> project, which is entirely agnostic
    about how the backend is implemented.</p>

<p>Despite its limitations from a UX perspective, it's very easy to implement.</p>

<partial name="~/Pages/Shared/_SaveResult.cshtml"/>

<table class="table mt-4">
    <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Unit Cost</th>
        <th>Sale Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model.AllItems)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(row => row.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.Description, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.UnitCost, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.SalePrice, new { @class = "form-control" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(row => row.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.Description, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.UnitCost, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.SalePrice, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("SaveItem", "DeleteItem")


@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/adamosoftware/GridEditor.RazorPages@1.0.3/js/GridEditor.min.js"></script>
}

<div id="SaveItem" class="hidden">
    <p>The name &quot;OnPostSaveItemAsync&quot; comes from the <code>saveHandler</code> name used in the <code>grid.HandlerForms</code> method call.</p>
</div>

<div id="DeleteItem" class="hidden">
    <p>The name &quot;OnPostDeleteItemAsync&quot; comes from the <code>deleteHandler</code> name used in the <code>grid.HandlerForms</code> method call.</p>
</div>

<div id="HandlerForms" class="hidden">
    <p>This tells the <code>GridEditor</code> what handlers on the backend perform save and delete actions, respectively. You'll see them
    correspond to actions <code>OnPostSaveItemAsync</code> and <code>OnPostDeleteItemAsync</code> in the backend code.</p>
</div>

<div id="AllItemsQuery">
    <p>Provides the items to list in the grid itself.</p>
</div>