@page
@model IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
 
@{
    ViewData["Title"] = "Home page";
}

@if (TempData.ContainsKey("error"))
{
    <div class="alert alert-danger">@TempData["error"]</div>
}

@if (TempData.ContainsKey("success"))
{
    <div class="alert alert-success">@TempData["success"]</div>
}

<div class="text-center">
    <h1 class="display-4">Dapper.CX Sample App</h1>    

    @if (Model.Data.HasCurrentUser)
    {
        <p>user = @(Model.Data.CurrentUser.DisplayName ?? Model.Data.CurrentUser.UserName), local time @(Model.Data.CurrentUser.LocalTime), workspaceId = @(Model.Data.CurrentUser.WorkspaceId ?? 0)</p>

        <form asp-page-handler="SetWorkspace" method="post">
            <select name="workspaceId" onchange="this.form.submit()" asp-items="@Model.WorkspaceSelect" class="form-control">
                <option value="">(none)</option>
            </select>
        </form>

        <form asp-page-handler="SaveWorkspace" method="post" class="form-inline mt-4 mb-4">
            @Html.Hidden("Id", Model.Workspace?.Id ?? 0)
                            
            <label class="mr-2">Workspace Name:</label>
            @Html.TextBox("Name", Model.Workspace?.Name, new { @class = "form-control mr-2", required = "required" })
                
            <button class="btn btn-outline-dark">Save</button>            
        </form>
    }
</div>

@if (Model.AllItems == null)
{
    return;
}

@{ 
    var grid = new GridEditor<Item>(this, Xsrf, (item) => item.Id, defaults: new { WorkspaceId = Model.Data?.CurrentUser?.WorkspaceId ?? 0 }); 
}

<table class="table mt-4">
    <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Unit Cost</th>
        <th>Sale Price</th>
        <th></th>
    </tr>
    @foreach (var item in Model.AllItems)
    {
        <tr id="@grid.RowId(item)">
            <td>@grid.TextBox(row => row.Name, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.Description, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.UnitCost, new { @class = "form-control" })</td>
            <td>@grid.TextBox(row => row.SalePrice, new { @class = "form-control" })</td>
            <td>@grid.Controls()</td>
        </tr>
    }
    <tr id="@grid.NewRowId()">
        <td>@grid.TextBox(row => row.Name, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.Description, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.UnitCost, new { @class = "form-control" })</td>
        <td>@grid.TextBox(row => row.SalePrice, new { @class = "form-control" })</td>
        <td>@grid.Controls()</td>
    </tr>
</table>
@grid.HandlerForms("SaveItem", "DeleteItem")


@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/adamosoftware/GridEditor.RazorPages@1.0.3/js/GridEditor.min.js"></script>
}