@page "/Items/{id?}"
@model SampleApp.RazorPages.Pages.ItemsModel

<partial name="~/Pages/Shared/_SaveResult.cshtml"/>

@section Scripts {
    <script src="~/js/Items.js" asp-append-version="true"></script>
} 

<h2>Typical Form CRUD</h2>
<p>This page demonstrates typical GET and POST behavior for viewing and saving records.</p>

<form method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">View Item:</label>
        <div class="col-sm-8">
            <select name="Id" id="gotoItem" asp-items="@Model.ItemSelect" class="form-control">
                <option value="">(select)</option>
            </select>
        </div>
        <div class="col-sm-2">
            <a href="/Items" class="btn btn-outline-info">Add New</a>
        </div>
    </div>        
</form>

<div id="goto-item">
    <p>This little bit of code enables the dropdown at the top of the page to navigate to the item selected in the dropdopwn, while
    preserving the MVC routing format with the Id value separated by a slash. If you use an ordinary <code>form</code> tag, then the Id
    is added using query string syntax, and it doesn't play as well with MVC routing.</p>    
    <p>There's also a delete button event handler here.</p>
</div>

<hr/>

<form method="post" class="mt-4" asp-page-handler="SaveItem">    
    <input type="hidden" name="Id" value="@Model.Item?.Id" id="rowId"/>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Item Name:</label>
        <div class="col-sm-10">
            @Html.TextBox("Name", Model.Item?.Name, new { @class = "form-control", required = "required" })
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            @Html.TextArea("Description", Model.Item?.Description, new { @class = "form-control" })
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit Cost:</label>
        <div class="col-sm-2">
            @Html.TextBox("UnitCost", Model.Item?.UnitCost, "{0:n2}", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit Cost:</label>
        <div class="col-sm-2">
            @Html.TextBox("SalePrice", Model.Item?.SalePrice, "{0:n2}", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Save</button>            
            @if (Model.Item != null)
            {
                <button class="btn btn-outline-danger" type="button" id="btnDelete">Delete...</button>
            }            
        </div>
    </div>
</form>

<form asp-page-handler="Delete" method="post" id="frmDelete">
    <input type="hidden" name="Id" id="deleteId"/>
</form>

<div id="SaveResult" class="hidden">
    <p>This shared partial view provides a place to show the success or fail message from a save or delete operation.</p>
</div>