@page "/Items/{id?}"
@model SampleApp.RazorPages.Pages.ItemsModel

<partial name="~/Pages/Shared/_SaveResult.cshtml"/>

@section Scripts {
    <script src="~/js/Items.js" asp-append-version="true"></script>
} 

<h2>Typical Form CRUD</h2>
<p>This page demonstrates typical GET and POST behavior for viewing and saving records.</p>

<form method="get">
    <select name="Id" id="gotoItem" asp-items="@Model.ItemSelect" class="form-control">
        <option value="">(select)</option>
    </select>
</form>

@if (Model.Item == null)
{
    <p>Please select an item.</p>
    return;
}

<hr/>

<form method="post" class="mt-4" asp-page-handler="SaveItem">    
    <input type="hidden" name="Id" value="@Model.Item.Id"/>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Item Name:</label>
        <div class="col-sm-10">
            @Html.TextBox("Name", Model.Item.Name, new { @class = "form-control", required = "required" })
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
            @Html.TextArea("Description", Model.Item.Description, new { @class = "form-control" })
        </div>        
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit Cost:</label>
        <div class="col-sm-2">
            @Html.TextBox("UnitCost", Model.Item.UnitCost, "{0:n2}", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit Cost:</label>
        <div class="col-sm-2">
            @Html.TextBox("SalePrice", Model.Item.SalePrice, "{0:n2}", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
</form>
